---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import EventList from '~/components/blog/EventList.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { blogListRobots, getStaticPathsArchivedEventBlogList } from '~/utils/events';
import Features2 from "~/components/widgets/Features2.astro";
import Button from "../../../components/ui/Button.astro";
import { getEventBlogPermalink } from "../../../utils/permalinks";

export const prerender = true;

export const getStaticPaths = (async ({paginate}) => {
  return await getStaticPathsArchivedEventBlogList({paginate});
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const {page} = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Vergangene Termine${currentPage > 1 ? ` — Seite ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl" role="presentation">
    <Headline>
      Vergangene <span class="text-primary">Ter</span><span class="text-accent">mine</span>
    </Headline>
    <Features2
      id="Allgemeines"
      columns={3}
      items={[
        {
          description: 'Unser ☕ Stammtisch findet immer am 11. jedes Monats um 19:00 Uhr statt. '
        },
        {
          description: 'Unser 💬 Thementreff findet meistens Ende des Monats statt, werden aber oft erst 1-2 Wochen vorher angekündigt. '
        },
        {
          description: "Es finden gelegentlich auch weitere Treffen statt, die jeweils von unterschiedlichen Leuten organisiert werden."
        },
      ]}
    />
    <EventList posts={page.data}/>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next}/>
    <div class="mt-10 flex justify-center" role="presentation">
      <Button
        variant="primary"
        class={page.url.prev ? 'invisible' : ''}
        href={getEventBlogPermalink()}
      >
        <span role="presentation">Anstehende Termine anzeigen</span>
      </Button>
    </div>

  </section>
</Layout>
