---
import {Icon} from 'astro-icon/components';
import {SITE} from 'astrowind:config';
import {getHomePermalink} from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links?: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const {socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light'} = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 py-3 dark:text-slate-300">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-6">
      <div>
        <a class="inline-block font-bold text-xl mb-2" href={getHomePermalink()} aria-label="Home">{SITE?.name}</a>
        <div class="text-sm text-muted flex flex-wrap items-center gap-1 mb-2">
          {secondaryLinks.map(({ text, href }, index) => (
            <>
              <span aria-hidden="true">{index !== 0 ? ' · ' : ''}</span>
              <a
                class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline transition"
                href={href}
                set:html={text}
              />
            </>
          ))}
        </div>
      </div>
      <div id="wcb" aria-label="Website Carbon Emission" class="carbonbadge wcb-d flex-shrink-0 md:mt-4"></div>
      <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 mt-6">
      {links.map(({ title, links }) => (
        <div>
          <div class="font-medium mb-2 dark:text-gray-300">{title}</div>
          {links && (
            <ul class="text-sm space-y-2">
              {links.map(({ text, href, ariaLabel }) => (
                <li>
                  <a
                      class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline transition"
                      href={href}
                      aria-label={ariaLabel}
                    >
                      <Fragment set:html={text}/>
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
  </div>
</footer>
